@using SpaceShooter.ViewModels;
@model ProfileModel

@{
  Layout = "_Layout";
}


<div class="profile-container">
  @Html.Partial("_menubar")

  <div class="profile-top">
    <div class="profile-col-1">
      <div class="profile-pic">
        <img src="../../img/profile-pic.png" alt="">
      </div>
      <p id="profile-username">@Model.LoginName</p>
      <div class="profile-links">
        <p id="sprite-button" class="button-border">Ships</p>
        <p id="theme-button" class="button-border">Theme</p>
        <p id="friend-button" class="button-border">Friends</p>
      </div>
    </div>
    <div class="profile-col-2">

      <div class="profile-info">
        <div class="sprites-prompt">
          <p>Choose your ship</p>
        </div>
        <div class="themes-prompt">
          <p>Choose your theme</p>
        </div>
        <div class="friends-prompt">
          <p>Friends</p>
          <a href="#">View All Friends</a>
        </div>
      </div>

      <div class="profile-cube">
        <div class="profile-sprites-hide">
          <div class="profile-sprites">
            <div class="sprite-one profile-quadrant" id="sprite-one">
              <p>Ship Name</p>
              <img src="../../img/profile-pic.png">
            </div>
            <div class="sprite-two profile-quadrant" id="sprite-two">
              <p>Ship Name</p>
              <img src="../../img/profile-pic.png">
            </div>
            <div class="sprite-three profile-quadrant" id="sprite-three">
              <p>Ship Name</p>
              <img src="../../img/profile-pic.png">
            </div>
            <div class="sprite-four profile-quadrant" id="sprite-four">
              <p>Ship Name</p>
              <img src="../../img/profile-pic.png">
            </div>
          </div>
        </div>
        <div class="profile-themes-hide">
          <div class="profile-themes">
            <div class="theme-one profile-quadrant">
              <p>Color</p>
            </div>
            <div class="theme-two profile-quadrant">
              <p>Color</p>
            </div>
            <div class="theme-three profile-quadrant">
              <p>Color</p>
            </div>
            <div class="theme-four profile-quadrant">
              <p>Color</p>
            </div>
          </div>
        </div>
        <div class="profile-friends-hide">
          <div class="profile-friends">
            <div class="friend-one profile-quadrant">
              <p>Friend</p>
            </div>
            <div class="friend-two profile-quadrant">
              <p>Friend</p>
            </div>
            <div class="friend-three profile-quadrant">
              <p>Friend</p>
            </div>
            <div class="friend-four profile-quadrant">
              <p>Friend</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-bottom">
    @* <div class="profile-scores"> *@
      <div class="scoreboard-titles">
        <div class="profile-score high-score">
          <p>High Score</p>
        </div>
        <div class="profile-score enemies-defeated">
          <p>Enemies Defeated</p>
        </div>
        <div class="profile-score time-played">
          <p>Time Played</p>
        </div>
        <div class="profile-score total-scores">
          <p>Total Score</p>
        </div>
        <div class="profile-score last-play">
          <p>Last Play</p>
        </div>
      </div>
      <div class="scoreboard-score">
        <p class="high-score-score">@Model.Highscore</p>
        <p class="enemies-defeated-score">@Model.TotalEnemiesDestroyed</p>
        <p class="time-played-score">@Model.TotalPlayTime</p>
        <p class="total-scores-score">@Model.TotalScore</p>
        <p class="last-play-score">@Model.MostRecentStats.Score</p>
        <p>@Model.MostRecentStats.DatePlayed</p>
      </div>
    @* </div> *@
  </div>

</div>
