@using SpaceShooter.ViewModels;
@model ProfileModel

@{
  Layout = "_Layout";
}

<div class="profile-container">
  @Html.Partial("_menubar")

  <a class="a-title" href="/">
    <div id="profile-title">
        <div class="profile-title">
          <h1>stjörnu</h1>
          <h1>stjörnu</h1>
          <h1>stjörnu</h1>
          <h1>stjörnu</h1>
          <h1>stjörnu</h1>
          <h1>stjörnu</h1>
          <h1>stjörnu</h1>
          <h1>stjörnu</h1>
          <h1>stjörnu</h1>
          <h1>stjörnu</h1>
          <h1>stjörnu</h1>
        </div>
      </div>
    </a>

  <div class="profile-top">
    <div class="profile-col-1">
      <div class="profile-pic">
        <img src="../../img/playerShip1_blue.png">
      </div>
      <p id="profile-username">@Model.Player.Username</p>
      <div class="profile-links">
      @if(Model.Follow != null)
      {
        <div class="follow-toggle">

            <div class="add-friend-button">
              <div class="line-one"></div>
                <div class="line-two"></div>
                  <p>Follow</p>
                <div class="line-three"></div>
              <div class="line-four"></div>
            </div>
            <div class="unfollow-friend-button">
              <div class="unfollow-line-one"></div>
                <div class="unfollow-line-two"></div>
                  <p>Unfollow</p>
                <div class="unfollow-line-three"></div>
              <div class="unfollow-line-four"></div>
            </div>

        </div>
      }
      <script>
        $(document).ready(function(){
          console.log("@Model.Follow");
          @if(Model.Follow == false)
          {
            @:$(".unfollow-friend-button").hide();
          }
          @if(Model.Follow == true)
          {
            @:$(".add-friend-button").hide();
          }
          $(".add-friend-button").click(function() {
            $(".unfollow-friend-button").toggle();
            $(".add-friend-button").toggle();
            $.post("/friend/@Model.Player.Id/add");
          });
          $(".unfollow-friend-button").click(function() {
            $(".unfollow-friend-button").toggle();
            $(".add-friend-button").toggle();
            $.post("/friend/@Model.Player.Id/unfollow");
          });
        });
      </script>
        <p id="sprite-button" class="button-border">Ships</p>
        <p id="theme-button" class="button-border">Theme</p>
        <p id="friend-button" class="button-border">Friends</p>
      </div>
    </div>
    <div class="profile-col-2">

      <div class="profile-info">
        <div class="sprites-prompt">
          <p>Choose your ship</p>
        </div>
        <div class="themes-prompt">
          <p>Choose your theme</p>
        </div>
        <div class="friends-prompt">
          <p>Friends</p>
          <a href="#">View All Friends</a>
        </div>
      </div>

      <div class="profile-cube">
        <div class="profile-sprites-hide">
          <div class="profile-sprites">
            <div class="sprite-one profile-quadrant" id="sprite-one">
              <p>Fighter</p>
              <img src="../../img/playerShip1_blue.png">
            </div>
            <div class="sprite-two profile-quadrant" id="sprite-two">
              <p>Destroyer</p>
              <img src="../../img/playerShip2_blue.png">
            </div>
            <div class="sprite-three profile-quadrant" id="sprite-three">
              <p>Bomber</p>
              <img src="../../img/playerShip3_blue.png">
            </div>
            <div class="sprite-four profile-quadrant" id="sprite-four">
              <p>Interceptor</p>
              <img src="../../img/enemyBlue2.png">
            </div>
          </div>
        </div>
        <div class="profile-themes-hide">
          <div class="profile-themes">
            <div class="theme-one profile-quadrant">
              <p>Blue</p>
              <img src="../../img/playerShip1_blue.png">
            </div>
            <div class="theme-two profile-quadrant">
              <p>Red</p>
              <img src="../../img/playerShip1_red.png">
            </div>
            <div class="theme-three profile-quadrant">
              <p>Green</p>
              <img src="../../img/playerShip1_green.png">
            </div>
            <div class="theme-four profile-quadrant">
              <p>Orange</p>
              <img src="../../img/playerShip1_orange.png">
            </div>
          </div>
        </div>
        <div class="profile-friends-hide">
          <div class="profile-friends">
            <div class="friend-one profile-quadrant">
              @if(Model.Friends.Count > 0)
              {
                <p>@Model.Friends[0].Name</p>
                <img src="../../img/playerShip1_blue.png">
              }
            </div>
            <div class="friend-two profile-quadrant">
            @if(Model.Friends.Count > 1)
            {
              <p>@Model.Friends[1].Name</p>
              <img src="../../img/playerShip1_blue.png">
            }
            </div>
            <div class="friend-three profile-quadrant">
            @if(Model.Friends.Count > 2)
            {
              <p>@Model.Friends[2].Name</p>
              <img src="../../img/playerShip1_blue.png">
            }
            </div>
            <div class="friend-four profile-quadrant">
            @if(Model.Friends.Count > 3)
            {
              <p>@Model.Friends[3].Name</p>
              <img src="../../img/playerShip1_blue.png">
            }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-bottom">
    @* <div class="profile-scores"> *@
      <div class="scoreboard-titles">
        <div class="profile-score high-score">
          <p>High Score</p>
        </div>
        <div class="profile-score enemies-defeated">
          <p>Enemies Defeated</p>
        </div>
        <div class="profile-score time-played">
          <p>Time Played</p>
        </div>
        <div class="profile-score total-scores">
          <p>Total Score</p>
        </div>
        <div class="profile-score last-play">
          <p>Last Play</p>
        </div>
      </div>
      <div class="scoreboard-score">
        <p class="high-score-score">@Model.Highscore</p>
        <p class="enemies-defeated-score">@Model.TotalEnemiesDestroyed</p>
        <p class="time-played-score">@Model.TotalPlayTime</p>
        <p class="total-scores-score">@Model.TotalScore</p>
        <p class="last-play-score">@Model.MostRecentStats.Score</p>
        @if(Model.MostRecentStats.DatePlayed.ToString() == "1/1/01 12:00:00 AM")
        {
          <p class="last-play-score">--/--/-- --:--:--</p>
        }
        else
        {
          <p class="last-play-score">@Model.MostRecentStats.DatePlayed</p>
        }
      </div>
    @* </div> *@
  </div>

</div>
